*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  /* margin-top: 70px; */
}
.container {
  max-width: 1300px;

  padding-left: 50px;
  padding-right: 50px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}
.btn:hover {
  background-color: #563434;
}

.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-right: 80px;
  padding-left: 80px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fas,
.rating .far {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
/* -----------------------offer---------------------------- */
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #555;
}

/* <!-- ------------testimonial----------------------- --> */
.testimonals {
  padding-top: 100px;
}
.testimonals .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.testimonals .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.testimonals .col-3:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.fas.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonals .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
/* -------------------brands------------------------------ */
.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex-basis: 10%;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style: none;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 100px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 20px;
}

.copyright {
  text-align: center;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
/* --------------------------media query for menu----------------- */
@media only Screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px 50px 10px 0;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
/* -------------------------all products page------------------ */
.row-2 {
  justify-content: space-between;
  margin: 100px 15px 50px;
}
.row-2 h2 {
  margin-bottom: 20px;
}
select {
  border: 1px solid #ff523b;
}
select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  
}
.page-btn span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #ff523b;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transform-origin: left ;
width: 100%;
height: 100%;
}
.page-btn span:hover::before { transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ;
}
/* -------------single product detatials------------------- */

.singal-product h4{
    font-size: 20px;
    font-weight: bold;
}
.singal-product select{
    display: block;
margin-top: 20px;
}
.fa-indent{
    color: #ff523b;
    margin-left: 10px;
    cursor: pointer;
}
.singal-product input{
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
   outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    margin-right: 30px;
}
.singal-product .col-2 > img{
margin-bottom: -50px;
}
/* ----------------------------cart items details--------------- */
.cart-page{
  margin: 80px ;

}
table{
  width: 100%;
border-collapse: collapse;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;

}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td{
  padding: 10px 5px;

}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #ff523b;
  font-size: 12px;
}

td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 320px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.account-page{
  padding: 50px 0;
  background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
  background: #fff;
  width: 250px;
  height: 300px;
  position: relative;
  text-align: center;
  padding: 20px 0;
margin: auto;
box-shadow: 0 0 20px 0 rgb(0, 0, 0,0.1);
overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 250px;
  padding: 0 20px;
  position: absolute;
  top: 80px;
  transition:transform 1s  ;
  -webkit-transition:transform 1s  ;
  -moz-transition:transform 1s  ;
  -ms-transition:transform 1s  ;
  -o-transition:transform 1s  ;
}

form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
#LoginForm{
  left: -250px;

}
#RegForm{
  left: 0;
}
form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
    transition:transform 1s  ;
  -webkit-transition:transform 1s  ;
  -moz-transition:transform 1s  ;
  -ms-transition:transform 1s  ;
  -o-transition:transform 1s  ;
}











/* media query for less than 600 screen size */
@media only Screen and (max-width: 600px) {
  .row {
    text-align: center;
    width: 100%;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .row-2 {
    justify-content: center;
  }
  .row-2 h2 {
    margin-right: 20px;
  }
 .singal-product .row{
     text-align: left;
 }
 .singal-product .col-2{
     padding: 20px 0;
 }
 .singal-product h1{
     font-size: 26px;
     line-height: 32px;
 }
 .cart-info p{
   display: none;
 }
}
